body {
	font-family: 'Roboto', sans-serif;
	background-color: rgba(16, 16, 37, 1);
}

/* Banner */
.banner {
    height: 330px;
    background-color: rgba(8, 8, 19, 1);
	background-position: 50% 5%;
    background-size: cover;
    background-repeat: no-repeat;
	position: relative;
	z-index: -2;
}

/* Sombra do banner */
.banner-shadow {
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg,rgba(1, 1, 44, 0) 40%,rgba(1, 1, 44, 0.6));
    position: absolute;
	z-index: -1;
}

/* Títulos */
h3 {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 20px;
}

/* Container geral */
.container {
	width: 1100px;
	color: rgba(255, 255, 255, 1);
    margin-bottom: 75px;
    display: flex;
}

/* Container esquerdo */
.container-left {
    width: 235px;
    padding: 10px;
}

/* Avatar */
.avatar {
	width: 225px;
    background-color: rgba(8, 8, 19, 1);
    padding: 10px;
	margin-top: -200px;
    border-radius: 5px;
    text-align: center;
}

.avatar-shows{
	width: 225px;
	height: 350px;
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
}

/* Adicionar/remover dos favoritos */
.favorite-add {
    background-color: rgba(8, 8, 19, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    cursor: pointer;
    border: none;
    outline: none;
}

.remove {
    color: red !important;
}

/* Informações */
.info {
    width: 225px;
    background-color: rgba(8, 8, 19, 1);
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.clear {
    margin-top: 10px;
    list-style-type: none;
    margin-bottom: 5px;
}

.info-span {
    font-weight: 700;
}

/* Container direito */
.container-right {
    width: 865px;
	padding: 10px;
}

/* Título */
.title {
    width: 865px;
    margin-top: -50px;
    text-shadow: 5px 5px 5px black;
}

.title-clear {
    display: inline-block;
}

.edit {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.edit:hover {
    text-decoration: underline;
}

/* Pontuação e membros */
.ranked {
    background-color: rgba(8, 8, 19, 1);
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    text-align: center;
}

.score, .members {
    width: 100px;
    height: 100%;
    font-weight: 700;
    font-size: 24px;
    display: inline-block;
}

.score::before {
    height: 20px;
    background-color: rgba(233, 124, 22, 1);
    line-height: 20px;
    font-size: 15px;
    border-radius: 3px;
    content: 'Pontuação';
    display: block;
}

.members::before {
    height: 20px;
    background-color: rgba(233, 124, 22, 1);
    line-height: 20px;
    font-size: 15px;
    border-radius: 3px;
    content: 'Usuários';
    display: block;
}

/* Adicionar a lista / remover da lista / status / pontuação / episódios */
.user-add {
    background-color: rgba(8, 8, 19, 1);
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
}

form, .status-score{
    display: inline-block;
}

.button-submit {
    width: 125px;
    height: 25px;
    background-color: rgba(233, 124, 22, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 700;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    outline: none;
    display: inline-block;
}

.select{
    display: inline-block;
    width: 130px;
    height: 25px;
    border-radius: 5px;
    outline: none;
    padding-left: 5px;
    background-color: rgba(233, 124, 22, 1);
    color: white;
    border: none;
    cursor: pointer;
}

.user-episodes, .user-chapters, .user-volumes {
    font-size: 14px;
    border-radius: 5px;
    display: inline-block;
    width: 130px;
    height: 25px;
    padding-left: 5px;
    background-color: rgba(233, 124, 22, 1);
}

.user-episodes input, .user-chapters input, .user-volumes input {
    font-size: 14px;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border: none;
    background-color: rgba(233, 124, 22, 1);
    outline: none;
    text-align: right;
    color: white;
}

.user-delete input{
    margin-top: 10px;
    font-size: 12px;
    color: red;
    cursor: pointer;
    border: none;
    background-color: rgba(8, 8, 19, 1);
    outline: none;
}

.not-login a {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    text-decoration: none;
}

/* Sinopse */
.sinopse {
    background-color: rgba(8, 8, 19, 1);
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px; 
}

/* Personagens */
.characters {
    background-color: rgba(8, 8, 19, 1);
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
}

.characters-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.character {
    width: 100%;
    height: 75px;
    background-color: rgba(16, 16, 37, 1);
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-areas: 'avatar content';
}

.avatar-character {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-right: 1px solid;
    border-color: rgba(255, 255, 255, 1);
    grid-area: avatar;
}

.content {
    width: 100%;
    height: 75px;
    padding: 10px;
    font-size: 14px;
    grid-area: content;
    box-sizing: border-box;
}

.name {
    height: 35px;
}

.name a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

/* Tornar responsivo */
@media (max-width: 1281px) {
	/* Containers */
	.container {
		width: 100%;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: auto;
		grid-row-gap: 50px;
        padding: 5px;
	}

	.container-left, .container-right {
		width: 100%;
		padding: 10px;
    }

	/* Avatar */
	.avatar {
		box-sizing: content-box!important;
    }

    /* Informações e título*/
    .info, .title {
        width: 100%;
    }
}

/* Colocar 2 forms em baixo e 2 em cima na opção de adicionar pontuação/status/capítulos/volumes quando a tela for menor que 601px na lista de mangá */
@media (max-width: 601px) {
    .status-score {
        width: 100%;
        margin-bottom: 10px;
    }
}